@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: rgb(254,254,254);
  background: linear-gradient(180deg, rgba(254,254,254,1) 19%, rgba(200,200,200,0.9836309523809523) 80%);
}

.main {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}