@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap&subset=greek-ext,latin-ext");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: rgb(119, 111, 108);
  background-image: url("../assets/img/8689.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50%;
  font-family: "Noto Sans", sans-serif;
}

.main {
  align-items: left;
  display: flex;
  justify-content: left;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.logo_image {
  width: 100vh;
}

.header {
  &_title {
    color: rgb(31, 31, 31);
    font-size: 1.6rem;
    letter-spacing: 1rem;
    margin-top: 5rem;
    margin-bottom: -1rem;
    font-weight: bold;
  }
}

.description {
  &_header {
    display: flex;
    justify-content: left;
    margin-top: -100px;
    margin-bottom: 100px;
    color: rgb(223, 0, 0);
    letter-spacing: 1rem;
    font-size: 2rem;
  }
}

.footer {
  display: flex;
  flex-direction: row;
}
